name: Secret Scanner

on:
  workflow_dispatch:

  schedule:
    # Runs every day at 04:00 UTC.
    - cron:  '0 4 * * *'

# Ensure we run all commands in `bash` by default. This ensures our scripts and steps have a predictable shell syntax
# and capabilities.
defaults:
  run:
    shell: bash

jobs:
  secretscanner:
    name: Secret Scanner
    runs-on: [self-hosted, normal]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: pip install detect-secrets

      - name: Secret Scanner
        run: detect-secrets scan --baseline .secrets.baseline
