name: Secret Scanner

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths-ignore:
      - 'drupal_translations/**'
      - 'applications/community_management_system/html/modules/extensions/**/translations/**'
      - 'applications/community_management_system/html/modules/open_source/**/translations/**'
      - 'applications/community_management_system/html/modules/projects/**/**/translations/**'

# github.base_ref The base_ref or target branch of the pull request in a workflow run. This property is only available when the event that triggers a workflow run is either pull_request or pull_request_target.
# github.head_ref is only set when the workflow was triggered by a pull_request and it contains the value of the source branch of the PR.
# github.ref_name will than only be used if the workflow was not triggered by a pull_request and it also just contains the branch name.
env:
  TARGET_BRANCH: ${{ github.base_ref }}
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

# Ensure we run all commands in `bash` by default. This ensures our scripts and steps have a predictable shell syntax
# and capabilities.
defaults:
  run:
    shell: bash

jobs:
  secretscanner:
    name: Secret Scanner
    runs-on: [self-hosted, normal]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }} # Necessary otherwise we checkout in a detached HEAD state and the refs for branches aren't known to diff between later on.

      - name: Setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: pip install detect-secrets

      - name: Secret Scanner
        run: git diff-tree --name-only --merge-base --diff-filter 'AM' -r origin/$TARGET_BRANCH $BRANCH_NAME | uniq | sort | tr '\n' '\0' | xargs -0 detect-secrets-hook --baseline .secrets.baseline
